<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Chat Global</title>
    <link href="{{ url_for('static', filename='escapegame.css') }}" rel="stylesheet" />
    <link href="{{ url_for('static', filename='bulma.min.css') }}" rel="stylesheet" />
	<script defer src="https://use.fontawesome.com/releases/v5.14.0/js/all.js"></script>
</head>

<body>
    <section class="hero is-primary is-fullheight" >

        <div class="hero-head">
            <nav style="background-color:#FFFFFF; box-shadow: 0 0 10px black;" class="navbar is-white">
                <div class="container">

                    <div id="navbarMenuHeroA" class="navbar-menu">
                        <div class="navbar-end">
							{% if current_user.is_authenticated %}
                            <a style="font:1.0em Bradley Hand, cursive; color:#00d1b2; font-weight: bold;" href="{{ url_for('main.index') }}" class="navbar-item">
                                Accueil
                            </a>
                            <a style="font:1.0em Bradley Hand, cursive; color:#4e4e4e;"href="{{ url_for('main.profile') }}" class="navbar-item">
                                Profil
                            </a>
							{% endif %}

							{% if not current_user.is_authenticated %}
                            <a style="font:1.0em Bradley Hand, cursive; color:#4e4e4e;"href="{{ url_for('auth.login') }}" class="navbar-item">
                                Connexion
                            </a>
							<a style="font:1.0em Bradley Hand, cursive; color:#4e4e4e;"href="{{ url_for('auth.signup') }}" class="navbar-item">
                                Inscription
                            </a>
							{% endif %}
							{% if current_user.is_authenticated %}
                            <a style="font:1.0em Bradley Hand, cursive; color:#4e4e4e;" href="{{ url_for('auth.logout') }}" class="navbar-item">
                                Déconnexion
                            </a>
							{% endif %}

                        </div>
                    </div>
                </div>
            </nav>
        </div>

        <div class="hero-body">
            <div class="container has-text-centered">
               {% block content %}
               {% endblock %}
            </div>
        </div>
    </section>
</body>

</html>
