{% extends "base.html" %}

{% block content %}
<head>
	<style>
		progress:after {
		content: attr(value)'%';
		}
	</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/1.4.5/socket.io.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.4/jquery.min.js"></script>

	<section class="section">
		<!--<p style="font-size: 2em; "id="demo"></p>-->

		<div id="box" class="box">
				<script type="text/javascript">
	$(document).ready(function() {

		var socket = io.connect('http://127.0.0.1:5000');

		socket.on('connect', function() {
			socket.send('{{name}} a rejoint le chat !');
		});

		socket.on('disconnect', function() {
			socket.send('{{name}} a quitté le chat !');
		});

		socket.on('message', function(msg) {
			$("#messages").append('<li>'+msg+'</li>');
			console.log('Received message');
		});

		$('#sendbutton').on('click', function() {
			socket.send('<strong style="color: red">{{name}}:</strong> '+$('#myMessage').val());
			$('#myMessage').val('');
		});
	});
	</script>
	<ul class="has-text-left" id="messages"></ul>
  </div>

			<hr>
			<textarea  id="myMessage" style="width:30em" placeholder="Ajouter votre message ..."></textarea>
			<br>
			<br>
			<button class="button is-info" id="sendbutton">Envoyer</button>

	</section>
</head>


{% endblock %}
